@font-face {
  font-family: Bubblegum;
  src: url("fonts/Bubblegum.ttf");
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow:hidden;
}

* {
  font-family: Bubblegum, "Comic Sans MS", "Comic Sans", arial;
  color: #fff200;
  letter-spacing: 1px;
}

.header {
  color: #fff200;
  letter-spacing: 1px;
  font-size: 7vmin;
  text-align: center;
  margin: 0;
}

.subheader {
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 2vmin;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .gallery {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
  }
}

@media only screen and (min-width: 601px) {
  .gallery {
    width: 80vw;
    padding: 3vmin;
    margin: auto;
    border-radius: 4vmin;
    height: 80vh;
  }
}

.gallery {
  background-color: rgb(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fill, 20vmin);
  grid-auto-rows: minmax(32.5vmin, 33vmin);

  gap: 15px;

  overflow-y: scroll;
}


.mod {
  width: 20vmin;
  height: 32.5vmin;
  background-color: #40a7ec;
  border-radius: 1vmin;
  position: relative;
}

.modImg {
  width: 100%;
  border-radius: 1vmin 1vmin 0vmin 0vmin;
}

.modName {
  margin: 0.5vmin;
  font-size: 2vmin;
  /* text-wrap: pretty; */
}

.modAuthor{
  margin: 0vmin;
  font-size: 1.2vmin;
  color:white;
  margin-left: 0.5vmin;
}

button {
  all: unset;
  display: inline;
  color: black;
  background-color: white;
  /* padding: 5px;
  border-radius: 10px; */
  font-size: 1.5vmin;
  user-select: none;
  filter: brightness(100%);
  transition: filter 0.1s, font-size 0.1s;
  margin: 0 !important;
  height: 4vmin;
  text-align: center;
  line-height: 4vmin;

  width:fit-content;
}

button:hover {
  filter: brightness(200%);
  font-size: 1.6vmin;
  cursor: pointer
}

button:active {
  filter: brightness(50%);
}

.seeWiki {
  background-color: black;
  color: white;
  width: 50%;
  border-radius: 0vmin 0vmin 0vmin 1vmin;
}

.seeGithub {
  background-color: lime;
  color: #2400f2;
  width: 50%;
  border-radius: 0vmin 0vmin 1vmin 0vmin;
}

.buttonContainer {
  /* background-color: green; */
  width: 100%;
  /* display: block;
  margin: auto; */
  white-space: nowrap;

  position: absolute;
  bottom: 0;
}

#stopInteraction{
  z-index: 9000;
  display:none;
  position:fixed;
  top:0;
  left:0;
  background-color:gray;
  opacity:0.5;
  width:100vw;
  height:100vh;
  transition:opacity 0.5s ease-in-out;
}

.about{
  background-color: grey;
  z-index: 10000;
  position: fixed;

  left: 50%;
  top: 40%;

  width:fit-content;
  min-width:70vw;
  max-width:80vw;

  height: fit-content;
  padding: 2vmin;
  border-radius: 10px;

  transition:all 0.5s ease-in-out;
  text-wrap:nowrap;

}

.aboutHeader{
  font-size:10vmin;
  color:yellow;
  text-align:center;
  margin:0;
}

#aboutText{
  font-size:3vmin;
  color:white;
  text-wrap:wrap!important;
  display:block;
}

#aboutImg{
  width:10vmin;
  height:10vmin;
  border-radius:10px;
  margin-bottom:-1vh;
}

#aboutClose{
  background-color:red;
  color:black;
  padding:0.5vmin;
  margin:2px;
  border-radius:0.7vmin;
}

#aboutButton{
  background-color: lime;
  color: #2400f2;
  padding:0.5vmin;
  margin:2px;
  border-radius:0.7vmin;
}

.aboutButtonContainer{
  width:fit-content;
  display:block;
  margin:auto;
}