body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../client/images/background.png') center/cover fixed; /* Adjust the path to your background image */
}

header {
  color: #ffffff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 32px;
  width: 60%;
  margin: 0 auto; 
  border-radius: 20px;
}

section {
  max-width: 800px;
  margin: 4em auto;
  padding: 2em;
  background-color: rgba(0, 74, 85, 0.7); /* Light opaque white background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #7be0ff;
}

p {
  line-height: 1.6;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5em;
  color: #e5ff00;
}

a {
  color: #e5ff00; /* Light blue link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

br {
  margin: 0;
}

footer {
  background-color: rgba(135, 206, 250, 0.3);
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 15%;
  font-size: 12px;
  right: 0%;
}

.button-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Adjust as needed */
}

.button {
  display: inline-block;
  padding: 10px 25px;
  background-color: #5f9cf9; /* Light blue color */
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 24px;
}

.button:hover {
  background-color: #1900a6; /* Darker blue color on hover */
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 10px;
}

.tool-button {
  display: inline-block;
  padding: 20px;
  background-color: #87CEFA; /* Light blue color */
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-size: 32px;
  transition: background-color 0.3s ease;
}

.tool-button:hover {
  background-color: #0066cc; /* Darker blue color on hover */
}
pre {
  background-color: #1b1b1b56;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  color: #ffffff;
}

/* Grid layout for buttons */
.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

/* Style for buttons */
.button-grid a {
  display: block;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.button-grid a:hover {
  background-color: #0056b3;
}
