@media(prefers-color-scheme: light){
  body{
    background: url('../public/images/background.png') center/cover fixed;
  }
  :root {
    --main-accent-color: rgba(229, 244, 255, 0.568);
    --secondary-accent-color: rgba(101, 184, 235, 0.781);
    --highlighted-accent-color: rgba(79, 152, 197, 0.664);
    --footer-main: rgba(229, 244, 255, 0.795);
    --border-outline: rgba(0, 0, 0, 0.1);
    --popup-text-background: rgb(135, 206, 250);
    --text-color: rgb(87, 87, 87);
    --button-hover: rgba(79, 152, 197, 0.664);
    --tab-background: rgba(87, 161, 207, 0.781);
    --button-background: rgba(135, 206, 250, 0.87);
  }
}

@media(prefers-color-scheme: dark){
  body{
    background: url('../public/images/background-dark.png') center/cover fixed;
  }
  :root{
    --main-accent-color: rgba(53, 53, 53, 0.61);
    --secondary-accent-color: rgba(71, 76, 80, 0.781);
    --highlighted-accent-color: rgba(79, 152, 197, 0.664);
    --footer-main: rgba(53, 53, 53, 0.61);
    --border-outline: rgba(0, 0, 0, 0.1);
    --popup-text-background: rgb(54, 64, 70);
    --text-color: rgb(202, 202, 202);
    --button-hover: rgba(32, 40, 44, 0.664);
    --tab-background: rgba(52, 59, 59, 0.781);
    --button-background: rgba(78, 99, 112, 0.87);
  }
}

body.light{
  background: url('../public/images/background.png') center/cover fixed;
  --main-accent-color: rgba(229, 244, 255, 0.568);
  --secondary-accent-color: rgba(101, 184, 235, 0.781);
  --highlighted-accent-color: rgba(79, 152, 197, 0.664);
  --footer-main: rgba(229, 244, 255, 0.795);
  --border-outline: rgba(0, 0, 0, 0.1);
  --popup-text-background: rgb(135, 206, 250);
  --text-color: rgb(87, 87, 87);
  --button-hover: rgba(79, 152, 197, 0.664);
  --tab-background: rgba(87, 161, 207, 0.781);
  --button-background: rgba(135, 206, 250, 0.87);
}

body.dark{
  background: url('../public/images/background-dark.png') center/cover fixed;
  --main-accent-color: rgba(53, 53, 53, 0.61);
  --secondary-accent-color: rgba(71, 76, 80, 0.781);
  --highlighted-accent-color: rgba(79, 152, 197, 0.664);
  --footer-main: rgba(53, 53, 53, 0.61);
  --border-outline: rgba(0, 0, 0, 0.1);
  --popup-text-background: rgb(54, 64, 70);
  --text-color: rgb(202, 202, 202);
  --button-hover: rgba(32, 40, 44, 0.664);
  --tab-background: rgba(52, 59, 59, 0.781);
  --button-background: rgba(78, 99, 112, 0.87);
}

@font-face {
  font-family: 'bopl';
  src: url('../public/data/SFArchRivalBold.ttf') format('truetype');
}

body.menu{
  font-family: bopl;
  font-size: 1.3em;
  background: url('../public/images/background-bopl.png') center/cover fixed;
  --main-accent-color: #2098ee;
  --secondary-accent-color: rgb(20, 94, 146);
  --highlighted-accent-color: rgb(79, 152, 197);
  --footer-main: #2098ee;
  --border-outline: rgba(0, 0, 0, 0.1);
  --popup-text-background: rgb(54, 64, 70);
  --text-color: rgb(13, 57, 88);
  --button-hover: rgb(28, 126, 196);
  --tab-background: rgb(28, 126, 196);
  --button-background: rgba(78, 99, 112, 0.87);
}

body.menu .container{
  border: 5px var(--secondary-accent-color) solid;
}

body.menu .NavBar{
  border-bottom: 5px var(--secondary-accent-color) solid;
}

body.menu button{
  border: 5px var(--secondary-accent-color) solid;
  font-family: bopl;
}

body.menu footer{
  border-top: 5px var(--secondary-accent-color) solid;
}

body.menu footer p{
  font-size: 1.2em;
}

body.menu .tab-content{
  border: 5px var(--secondary-accent-color) solid;
}

body.menu .tab{
  border-bottom: 0px!important;
}

body.menu .mod{
  border: 5px var(--secondary-accent-color) solid;
}

body.menu .search{
  font-family: bopl;
  border: 5px var(--secondary-accent-color) solid;
}

body.menu .button{
  border: 5px var(--secondary-accent-color) solid;

}

.settingsIcon{
  vertical-align: middle;
  position: absolute;
  top: 20%;
  right: 0.5rem;
}

.settings{
  color: var(--text-color);
}

.settings button{
  background-color: var(--main-accent-color);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 1.2em;
  border: none;
  cursor: pointer;
}

.settings h3{
  margin-top: 5px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.dark-toggle{
  position: fixed;
  bottom: -25;
  left: 0;
  padding: 10px;
  cursor: pointer;
}

.dark-toggle button{
  background-color: transparent;
  border: none;
  width: min-content;
  height: min-content;
}

.docs.wiki a {
  text-decoration: underline;
}

.docs.wiki a:hover {
  text-decoration: none;
}

.docs.wiki code {
  font-weight: bolder;
}

.wiki{
  backdrop-filter: blur(5px);
}

.current {
  background-color: black;

}

.tool {
  background-color: var(--main-accent-color);
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  font-size: 20px;
  color: var(--text-color);
  height: min-content;
  display: flex;
}

.toolDescription {
  font-size: 15px;
}

.toolName {
  flex: 1;
  align-self: center;
}

.toolImg {
  max-width: 60px;
  max-height: 60px;
  align-self: center;
  margin: 10px;

}

.mdFile.active {
  background-color: --primary-accent-color;

}

pre {
  background-color: var(--main-accent-color);
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  color: var(--text-color);
  user-select: all;
}

code {
  user-select: all;
}

.mdLabel {
  width: max-content;
}

.mdFile {
  background-color: var(--secondary-accent-color);
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 18px;
  display: block;
  width: max-content;
}

.mdFolder {
  margin: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.wiki-container {
  color: var(--text-color);
  display: flex;
}

.search {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: var(--main-accent-color);
  padding: 10px;
  width: 95%;
  border-radius: 10px;
  border: none;
  color: var(--text-color);
  margin: 0 auto;
}

::placeholder {
  color: var(--text-color);
}

.docs {
  color: var(--text-color);
  flex: 2;
}



.wiki {
  background-color: var(--main-accent-color);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.sidebar {
  flex: 1;
  width: min-content;
  max-width: max-content;
}

.wiki-container {
  gap: 10px;
}

.uncoloured {
  background-color: #ffffff00 !important;
  backdrop-filter: none !important;
  margin-top: 0px !important;
  border: 0px!important;
}

.btn {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.modInfo {
  margin: 5px;
  max-width: 100%;
  width: max-content;
}

.modName {
  font-size: 1.1em;
  font-weight: bold;
}

.modAuthor{
  font-size: 1em;
  text-wrap: wrap;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 10px;
}

.mod {
  background-color: var(--main-accent-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: 110%;
  position: relative;
  cursor: pointer;
}

.mod:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: var(--secondary-accent-color);
}

.aboutPopup {
  display: none;
}

.aboutPopup.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popupText {
  background-color: var(--popup-text-background);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.modImg {
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--main-accent-color);
  backdrop-filter: blur(5px);

}

.active {
  background-color: var(--main-accent-color);
  color: var(--text-color);
}

.tabs {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  padding-bottom: 0px;
}

.tab {
  padding: 10px;
  background-color: var(--tab-background);
  color: var(--text-color);
  margin-right: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  border: var(--secondary-accent-color) 2px solid;
  border-bottom: 0px;
  backdrop-filter: blur(5px);
}

.tab-content {
  border: var(--secondary-accent-color) 2px solid;
  color: var(--text-color);
  background-color: var(--main-accent-color);
  margin: 5px;
  padding: 10px;
  margin-top: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(5px);
}

.active {
  background-color: var(--main-accent-color);
}

.navAlign {
  max-width: 900px;
  align-self: center;
}

.logo {
  vertical-align: middle;
  margin: 10px;
  max-width: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.navItem {
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  fill: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  background-color: var(--main-accent-color);
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 5%;
  backdrop-filter: blur(5px);
}

h1, h2 {
  color: var(--text-color);
}

p {
  line-height: 1.6;
  color: var(--text-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5em;
}

a {
  color: var(--text-color);
  /* Light blue link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--footer-main);
  color: var(--text-color);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 15%;
  font-size: 12px;
  width: 100%;
  backdrop-filter: blur(5px);
}

.button-list {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px;
  background-color: var(--main-accent-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 18px;
  vertical-align: middle;
}

.button:hover {
  background-color: var(--button-hover);
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 10px;
}

.tool-button {
  display: inline-block;
  padding: 20px;
  background-color: #87CEFA;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-size: 32px;
  transition: background-color 0.3s ease;
}

.tool-button:hover {
  background-color: --button-hover;
}